:root{
    --prime-text-color: #212121;
    --link-color: #2196F3;
    --text-color: #757575;
    --btn2-color: #F5F4FA;
    --bgc2-color: #2F303A;
    --bgc3-color: #ffffff;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #212121;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.list,
.features .list,
.work-list .list{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*site-nav*/
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.main-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    margin-left: 93px;
}

.nav-list .item:not(:last-child){
    margin-right: 50px;
}

.nav-list .link{
    color: var(--prime-text-color);
}

.nav-list .current{
    color: var(--link-color);
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header .contact-list{
    display: flex;
    margin-left: auto;
}

.header .item:not(:last-child){
    margin-right: 50px;
}

.contact-list .link{
    color: var(--text-color);
}

.nav-list .link:hover,
.nav-list .link:focus,
.contact-list .link:hover,
.contact-list .link:focus{
    color: var(--link-color);
}

/* hero */

.hero{
    background-color: var(--bgc2-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

h1{
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button{
    color: white;
    background-color: var(--link-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    font-family: inherit;
    border: 0;
    padding: 10px 32px;
}

.button.primary{
    color: white;
    background-color: var(--link-color);
    font-family: sans-serif;
    border-radius: 4px;
}

.button.primary:hover,
.button.primary:focus{
    color:var(--link-color);
    background-color: var(--bgc3-color);
}

.button.secondary{
    color: var(--prime-text-color);
    background-color: var(--btn2-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 6px 22px;
    border-radius: 4px;
    letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus{
    color: var(--bgc3-color);
    background-color: var(--link-color);
    font-family: inherit;
}

.section-title{
    color: var(--prime-text-color);
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: 1.17;
    padding-top: 0;
    padding-bottom: 50px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* features */
.text{
    font-weight: 400;
}

.features .title,
.projects-list .title{
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--prime-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features p,
.features li,
.features h3{
    margin-top: 0;
    margin-bottom: 0;
    
}


.features .feature-item{
    width: 270px;
}

.feature-list{
    display: flex;
}

.feature-list .feature-item:not(:last-child) {
    margin-right: 30px;
}

/* work */

.work{
    padding-top: 0;
    display: flex;
}

.work-list{
    display: flex;
}

.work .item:not(:last-child){
    padding-right: 30px;
}

/* team */  

.team .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.features .text,
.projects-list .text{
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;  
}

.team{
    background-color: var(--btn2-color);
    text-align: center;
}
.team .text{
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
}

}

/* footer */
footer{
    padding-bottom: 60px;
    padding-top: 60px;
    background-color:var(--bgc2-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer .contact-list{
    padding-top: 20px;
}

.link{
    text-decoration: none;
}

.adress{
    font-style: normal;
}

.adress-item:not(:last-child){
    margin-bottom: 9px;
}

/* portfolio */

.projects-list .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
}

.projects-list .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}